.spine-curve-segments {
  fill: #91c6dd;
}

.spine-curve-left {
  fill: #dbccc1;
}

.vertebra {
  cursor: pointer;
}

/* vertebra body */
.vertebra path:nth-of-type(1) {
  fill: #dbccc1;
}
/* vertebra spine */
.vertebra path:nth-of-type(2) {
  fill: #e9d9cc;
}

.vertebra:hover > * {
  filter: url(#hover);
}

.vertebra.selected > path {
  filter: url(#selected);
}

.vertebra-c1 > path,
.vertebra-c2 > path,
.vertebra-c3 > path,
.vertebra-c4 > path,
.vertebra-c5 > path,
.vertebra-c6 > path,
.vertebra-c7 > path {
  filter: url(#cervical);
}

.vertebra-th1 > path,
.vertebra-th2 > path,
.vertebra-th3 > path,
.vertebra-th4 > path,
.vertebra-th5 > path,
.vertebra-th6 > path,
.vertebra-th7 > path,
.vertebra-th8 > path,
.vertebra-th9 > path,
.vertebra-th10 > path,
.vertebra-th11 > path,
.vertebra-th12 > path {
  filter: url(#thoracic);
}

.vertebra-l1 > path,
.vertebra-l2 > path,
.vertebra-l3 > path,
.vertebra-l4 > path,
.vertebra-l5 > path {
  filter: url(#lumbar);
}

.vertebra-s1 > path,
.vertebra-s2_5 > path {
  filter: url(#sacral);
}
